@charset "utf-8";

@import url('font/Pretendard.css');
@import url('font/s-core.css');

::-webkit-scrollbar {width:18px;}
::-webkit-scrollbar-thumb {border:5px solid #fff; border-radius:20px; background:#ccc;}
::-webkit-scrollbar-track {background:#fff; border-radius:20px;}

body{overflow-x: hidden; font-family: 'Pretendard';}
a{color: #222;}

.wrap{max-width: 1400px; margin: auto;}

#header{border-bottom: 1px solid #d9dee2;}
.h-top ul{height: 40px; display: flex; justify-content: end; gap: 20px;}
.h-top ul li a{display: block; height: 100%; color: #fff; font-size: 15px; font-weight: 600; padding: 0 40px; background: #1e60c8; line-height: 38px; border-radius: 0 0 50px 50px;}
.h-top ul li:last-child a{background: #139157;}
.h-top ul li a span{position: relative;}
.h-top ul li:first-child a span{padding-left: 32px;}
.h-top ul li:last-child a span{padding-right: 19px;}
.h-top ul li:first-child a span::before{position: absolute; content: ""; background: url('../img/layout/top01.png') no-repeat; width: 22px; height: 20px; top: 50%; transform: translateY(-50%); left: 0;}
.h-top ul li:last-child a span::before{position: absolute; content: ""; background: url('../img/layout/top02.png') no-repeat center right; width: 22px; height: 20px; top: 49%; transform: translateY(-50%); right: 0;}

#nav{display: flex; justify-content: space-between; align-items: center; height: 76px;}
#nav .logo a{display: flex; align-items: center; font-family: 'SCDream'; font-size: 24px; color: #383838; padding-bottom: 6px;}
#nav .logo a span{padding-left: 11px;}
.pc_nav > ul{overflow: hidden;}
.pc_nav > ul > li{float: left; margin-left: 40px;}
.pc_nav > ul > li:first-child{margin-left: 0;}
.pc_nav > ul.depth1 > li > a{font-size: 20px; font-weight: 500; display: block; height: 76px; line-height: 76px;}

.menu a{display: inline-block; text-indent: -99999px; background: url('../img/layout/sitemap.png') no-repeat center right; width: 24px; height: 26px;}
a.nav_open{display: none;}
#nav .right{display: flex; gap: 26px;}
/* .pc_nav > ul.depth1 > li:not(:first-child) .subGnb{display: none;} */
/* .subGnb{display: none; position: absolute; width: 100%; left: 0; top: 116px; background: #f7f7f7; z-index: 3;} */
.subGnb{display: none; position: absolute; width: 100%; left: 0; top: 116px; background: #fff; z-index: 3; border-bottom: 2px solid #139157; border-top: 1px solid #d9dee2; padding: 20px 0;}
.subGnb .wrap{display: flex; gap: 50px; justify-content: center;}
.subGnb .wrap .title{width: 20%; text-align: center; display: flex; align-items: center; justify-content: center;}
.subGnb .wrap .title p{font-size: 28px; font-family: 'SCDream'; font-weight: 600; color: #383838;}
.subGnb .wrap .depth2{width: 75%; overflow: hidden; padding: 20px 0;}
.subGnb .wrap .depth2 > li{float: left; width: 33%;}
.subGnb .wrap .depth2 > li a{display: block; color: #383838; padding: 0 10px 0 24px; height: 50px; line-height: 50px; background: #f9f9f9; margin: 0 10px 10px 0;  font-size: 17px; font-weight: 500;/*  border: 1px dashed #139157; */ }
.subGnb .wrap .depth2 > li.on a{font-weight: 600; color: #fff; background: #139157;}
.subGnb .wrap .depth2 > li:nth-child(4) a,
.subGnb .wrap .depth2 > li:nth-child(5) a,
.subGnb .wrap .depth2 > li:nth-child(6) a{margin-bottom: 0;}
.subGnb .wrap .depth2 > li a span{position: relative; padding-left: 14px;}
.subGnb .wrap .depth2 > li a span::before{position: absolute; content: ""; background: #5e5d5d; width: 3px; height: 3px; border-radius: 50px; left: 0; top: 50%; transform: translateY(-50%);}
.subGnb .wrap .depth2 > li.on a span::before{background: #fff;}

#serachwrap{position: absolute; top: 116px; width: 100%; left: 0; background: #fff; text-align: center; z-index: 2; padding: 25px 0 42px 0;}

form#TotalSearch > div{display: flex; width: 100%; max-width: 500px; gap: 4px; padding: 10px 80px 10px 20px; border-radius: 50px; justify-content: space-around;  margin: auto; position: relative;  border: 1px solid #139157; box-shadow: 3px 3px 10px #e5e5e5;}
select#search_opt{ padding: 0 3px; background: transparent; border: none; color: #139157; font-weight: 600; font-size: 16px; font-family: 'Pretendard'; margin-right: 10px;}
option{color: #222;}
input#qt{padding: 12px 0; width: 68%; padding-left: 3px; border: none; font-size: 16px; font-family: 'Pretendard';}
a.search_btn{position: absolute; right: -5px; top: -2px; height: 68px; width: 68px; display: inline-block; color: #fff; line-height: 60px; background: #139157 url('../img/layout/search_w.png') no-repeat center center; text-indent: -9999px; border-radius: 50px;}

#search_close { display:block; position:absolute; bottom:-66px; left:50%; width:56px !important; height:56px; background:#fff; border-radius:50%; transform:translateX(-50%);}
#search_close a {display:block; position:absolute; top:50%; left:50%; width:17px; height:17px; transform:translate(-50%, -50%);}
#search_close a span {display:block; position:absolute; top:50%; left:0; width:100%; height:2px; background:rgba(50,50,50,0); color:transparent; transform:translate(0, -50%);}
#search_close a span:before,
#search_close a span:after {content:''; position:absolute; left:0; top:0; width:100%; height:2px; background:rgba(50,50,50,1);}
#search_close a span:before {top:0; transform:rotate(45deg);}
#search_close a span:after {top:0; transform:rotate(-45deg);}

/* m_nav */
header .m_nav {visibility:hidden; position:fixed; right:0; top:0; width:100%; height:100%; z-index:300;}
header .m_nav:before {content:''; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0); transition:all 0.85s cubic-bezier(0.43, 0.03, 0.21, 1);}
header .m_nav nav {position:fixed; top:0; right:-100%; width:100%; max-width:280px; height:100%; overflow-y:auto; padding:55px 0; background:#fff; text-align:center; z-index:100; transition:all 0.85s cubic-bezier(0.43, 0.03, 0.21, 1);}
header .m_nav.open {visibility:visible;}
header .m_nav.open:before {background:rgba(0,0,0,0.7);}
header .m_nav.open nav {right:0;}
header .m_nav .depth1 {text-align:left; position: absolute; top: 110px; width: 100%;}
header .m_nav .depth1 li a {position:relative; padding-right:20px; padding-left:20px; display: block;}
header .m_nav .depth1 > li > a {display: block; padding-top:15px; padding-bottom:15px; border-bottom:1px solid #ddd; font-size:17px; font-weight:600; letter-spacing:-1px; color: #333; font-family: 'Pretendard';}
header .m_nav .depth1 > li > a:before {content:''; position:absolute; top:50%; right:20px; width:6px; height:6px; margin-top:-3px; background:none; border-bottom:2px solid #322820; border-right:2px solid #322820; transform:rotate(-45deg);}

header .m_nav .depth1 > li:hover > a,
header .m_nav .depth1 > li.on > a {color :#198054; font-weight: 700;}
header .m_nav .depth2{display: none;}

header .m_nav .depth2 > li{border-bottom: 1px solid #dde7d5}
header .m_nav .depth2 > li > a {background: #eff6e9; font-size: 16px; padding: 10px 10px 10px 40px; position: relative;}
header .m_nav .depth2 > li > a::before{position: absolute; content: ""; top: 50%; left: 25px; width: 4px; height: 4px; background: #bbc6b2; border-radius: 50px; transform: translateY(-50%);}

header .m_nav .depth2 > li:hover > a {font-weight:600;}
header .m_nav .depth2 > li:hover > a::before{background:#198054;}

header .m_nav_close {position:absolute; top:0; right:0; width:55px; height:55px; background:#505050;}
header .m_nav_close::before{position: absolute; content: ""; background: url('/design2022/village/img/logo_nav.png') no-repeat; right: 67px; top:5px; width: 190px; height: 40px;}

header .close_btn {display:block; position:absolute; top:50%; left:50%; width:20px; height:20px; z-index:200; transform:translate(-50%, -50%);}
header .close_btn span {display:block; position:absolute; top:50%; left:0; width:100%; height:2px; background:rgba(255,255,255,0); color:transparent; transform:translate(0, -50%);}
header .close_btn span:before,
header .close_btn span:after {content:""; position:absolute; left:0; top:0; width:100%; height:2px; background: #fff;}
header .close_btn span:before {top:0; transform:rotate(45deg);}
header .close_btn span:after {top:0; transform:rotate(-45deg);}

@media all and (max-width: 1024px) {
    a.nav_open{display: block;}
    a.nav_open2{display: none;}
}

/* footer */
#footer{background: #2a3844; color: #fff; padding: 50px 0 63px 0;}
#footer .wrap{display: flex; justify-content: space-between; align-items: center;}
.address ul{display: flex; flex-wrap: wrap; gap: 46px;}
.address ul li{font-weight: 400; font-size: 17px;}
.address ul li strong{font-weight: 600;}
.address p.copy{font-size: 13px; color: rgba(255, 255, 255, 0.6); margin-top: 26px;}
.f-logo p{display: flex; align-items: center;}
.f-logo p span{padding-left: 11px; font-family: 'SCDream'; font-size: 24px; font-weight: 600; color: rgba(255, 255, 255, 0.4);}