@charset "utf-8";

/* 비주얼 영역 */
#cont1{padding: 50px 0; background: linear-gradient(90deg, #e8eff9, #e7f4ee);}
#cont1 .wrap{display: flex; width: 100%;}

.v-left{width: 350px; height: 699px; color: #fff; display: flex; flex-flow:column;}
.v-left dl{height: 33.3%;}
.v-left dl dt{font-size: 28px; font-weight: 700; font-family: 'SCDream'; text-align: center; padding-top: 34px;}
.v-left dl dd.time{background: #0e4397; font-size: 19px; font-weight: 600; padding:13px 0; display: block; width: 70%; text-align: center; margin: 14px auto; border-radius: 30px;}
.v-left dl.info01{background: url('../img/main/cont-bg01.jpg') no-repeat; border-radius: 33px 0 0 0;}
.v-left dl.info01 ul{width: 100%;}
.v-left dl.info01 ul li{padding: 4px 0 4px 19px; font-size: 18px; position: relative; width: 73%; margin: auto;}
.v-left dl.info01 ul li::before{position: absolute; content: ""; background: #fff; width: 7px; height: 7px; border-radius: 50px; left: 0; top: 50%; transform: translateY(-50%);}
.v-left dl.info02{background: url('../img/main/cont-bg02.jpg') no-repeat;}
.v-left dl.info03{background: url('../img/main/cont-bg03.jpg') no-repeat; border-radius: 0 0 32px 32px;}
.v-left dl > dd{display: flex; column-gap: 14px; align-items: center; margin-bottom: 17px; padding-left: 34px;}
.v-left dl > dd:first-child{padding: 50px 0 20px 0; margin-bottom: 10px;}
.v-left dl > dd p span{display: block; font-size: 18px; font-weight: 600;}
.v-left dl > dd > strong{font-size: 19px; display: block; border-radius: 30px; padding: 8px 23px; font-weight: 600;}
.v-left dl.info02 dd strong{background: #006462;}
.v-left dl.info03 dd strong{background: #0b6039;}
.v-left dl.info02 dt, .v-left dl.info03 dt{margin-bottom: 20px;}
.fz17{font-size: 17px !important; font-weight: 400 !important;}

.v-right{width: calc(100% - 350px);}
#visual{position: relative; height: 580px;}
.vis-slide{border-radius: 0 33px 0 0; overflow: hidden;}
.vis-slide li img{border-radius: 0 33px 0 0;}
.vis-btn{position: absolute; width: 110px; height: 45px; right: 30px; bottom: 30px; background: rgba(0, 0, 0, 0.5); border-radius: 6px; display: flex; justify-content: space-between; align-items: center; z-index: 1;}
.vis-btn li{width: 33%; text-align: center; position: relative;}
.vis-btn li::before{position: absolute; content: ""; background: rgba(255,255,255, 0.15); width: 1px; height: 30px; left: 0; top: 50%; transform: translateY(-50%);}
.vis-btn a{display: inline-block; text-indent: -9999px; background: url('../img/main/ctrl_btn.png') no-repeat center center; background-position: -3px -4px; width: 15px; height: 15px; padding: 0 5px;}
.vis-btn a.stop1{background-position: -28px -4px;}
.vis-btn a.next1{background-position: -76px -4px;}
.v-link{display: flex; justify-content: space-between; align-items: center; margin: 20px 0 0 20px; gap: 18px;}
.v-link li{width: 25%;}
.v-link li a{display: flex; position: relative; align-items: center; height: 99px; border-radius: 20px; background: #fff; font-size: 17px; font-weight: 500; padding-left: 96px;}
.v-link li a::before{position: absolute; content: ""; background: url('../img/main/quick00.png') no-repeat; width: 60px; height: 60px; left: 22px; top: 18px;}
.v-link li.v-link02 a::before{background-position: -60px 0px;}
.v-link li.v-link03 a::before{background-position: -120px 0;}
.v-link li.v-link04 a::before{background-position: -180px 0;}
.v-link li a::after{position: absolute; content: ""; background: url('../img/main/arrow01.png') no-repeat; width: 35px; height: 35px; right: 20px; top: 50%; transform: translateY(-50%);}

/* / */
@media all and (max-width: 1450px){
  #cont1{padding: 30px 20px;}
  .vis-slide li img{width: 100%; height: 580px;}
  .v-link li a{padding-left: 30px;}
  .v-link li a::before{display: none;}
  .v-left dl > dd{padding-left: 14px; font-size: 16px !important;}
  .v-left dl dd.time{width: 90%;}
  .v-left dl.info01 ul li{width: 80%; font-size: 17px;}
  .v-left dl > dd > strong{font-size: 17px;}
  .v-left dl > dd p span{font-size: 17px;}
}

@media all and (max-width: 1383px){
  .v-left{width: 300px;}
  .v-right{width: calc(100% - 300px);}
  .v-left dl dt{font-size: 24px;}
}
@media all and (max-width: 1126px){
  .v-link li a{padding-left: 20px;}
  .v-left{width: 270px; height: 640px;}
  .v-right{width: calc(100% - 270px);}
  #visual{height: 520px;}
  .vis-slide li img{width: 100%; height: 520px;}
  .v-left dl > dd > strong{padding: 8px 15px;}
  .v-left dl > dd{gap: 10px; margin-bottom: 8px;}
  .v-left dl > dd p span{font-size: 16px !important;}
  .v-left dl.info01 ul li{font-size: 16px;}
}
@media all and (max-width: 1018px){
  #cont1 .wrap{flex-wrap: wrap-reverse;}
  .v-left{width: 100%; height: auto; margin-top: 30px; flex-flow: row; justify-content: space-between;}
  .v-left dl{width: 33.4%; height: auto; padding-bottom: 10px;}
  .v-left dl.info01{border-radius: 33px 0 0 0;}
  .v-left dl.info02{border-radius: 0;}
  .v-left dl.info03{border-radius: 0 0 33px 0;}
  .v-right{width: 100%;}
}
@media all and (max-width: 779px){
  .v-left{flex-wrap: wrap;}
  .v-left dl{width: 100%; border-radius: 0 !important;}
  .v-left dl.info01{height: auto;}
  .v-left dl.info01 ul{display: flex; justify-content: center; width: 70%; margin: auto;}
  .v-left dl.info02{width: 50%;}
  .v-left dl.info03{width: 50%;}
  .v-left dl dt{padding-top: 18px;}
  .v-left dl dd{padding-left: 40px;}
}
@media all and (max-width: 639px){
  .v-left dl.info02{width: 100%;}
  .v-left dl.info03{width: 100%;}
}
/* 보건소 지원사업 퀵메뉴*/
#cont2{background: #f6fafb; z-index: -2;}
#quick{display: flex; justify-content: space-between; background: #f6fafb; padding: 50px 0 56px 0;}
.quick-tit p{font-size: 16px; color: #383838; font-weight: 500;}
.quick-tit h3{font-size: 30px; color: #383838; font-family: 'SCDream'; margin-top: 18px; font-weight: 500;}
.quick-tit h3 strong{font-weight: 700;}
.quick-tab{display: flex; margin-top: 40px; gap: 40px;}
.quick-tab li a{display: block; font-size: 18px; color: #383838; font-weight: 500; position: relative; z-index: 1;}
.quick-tab li:not(:first-child) a::before{position: absolute; content: ""; background: url('../img/main/slash.png') no-repeat; width: 11px; height: 23px; left: -23px; top: 0;}
.quick-tab li.on a{color: #1e60c8; font-weight: 800;}
.quick-tab li.on a::after{position: absolute; content: ""; background:#e0eaf6; width: 120%; height: 10px; left: -9%; bottom: -6px; z-index: -1;}

.quick-show{width: 1050px;}
.quick-show > div{display: none;}
.quick-show > div.on{display: block;}

.quick-slide{padding: 0 20px;}
.quick-slide li a{padding-top: 120px; display: block;position: relative; text-align: center; font-size: 18px; font-weight: 500; color: #383838;}

.quick-slide li a::before{position: absolute; content: ""; background: #eff2f4 url('../img/main/q01-01.png') no-repeat; z-index: 1; background-position: center; width: 100px; height: 100px; top: 0; left: 50%; transform: translateX(-50%); border-radius: 16px 0; transition: 0.2s;}
.quick-slide li.q01-02 a::before{background-image: url('../img/main/q01-02.png');}
.quick-slide li.q01-03 a::before{background-image: url('../img/main/q01-03.png');}
.quick-slide li.q01-04 a::before{background-image: url('../img/main/q01-04.png');}
.quick-slide li.q01-05 a::before{background-image: url('../img/main/q01-05.png');}
.quick-slide li.q01-06 a::before{background-image: url('../img/main/q01-06.png');}
.quick-slide li.q01-07 a::before{background-image: url('../img/main/q01-07.png');}
.quick-slide li:hover a::before{background-color: #fff; border: 1px solid #1e60c8; box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);}

.quick-slide button{display: block; text-indent: -9999px; position: absolute; background: url('../img/main/quick-btn.png') no-repeat; width: 38px; height: 38px; border: none; z-index: 1; top: 50%; transform: translateY(-50%); cursor: pointer;}
.quick-slide .slick-prev{left: -30px;}
.quick-slide .slick-next{right: -30px; background-position: -36px 0;}

#cont3{display: flex; justify-content: space-between; width: 100%; gap: 30px; padding: 50px 0;}
#notice{width: 45%;}
#link{width: 26%;}

/* 알림창 */
#popup{width: 26%;}
#popup > div{display: flex; justify-content: space-between; align-items: center; height: 34px; margin-bottom: 20px;}
#popup > div h3{font-size: 23px; font-family: 'SCDream'; color: #222; font-weight: 500;}
.popup-btn a{display: inline-block; text-indent: -9999px; width: 34px; height: 34px; background: url('../img/main/pop-btn.png') no-repeat; border-radius: 5px;}
.popup-btn a.stop2{background-position: -41px 0;}
.popup-btn a.play2{background-position: -141px 0;}
.popup-btn a.next2{background-position: -81px 0;}
.popup-slide li img{width: 100%;}

/* 공지사항 */
#notice{position: relative;}
#notice ul{display: flex; justify-content: start;}
#notice ul li a.n-tit{font-family: 'SCDream'; font-size: 20px; font-weight: 500; color: #969696; width: 160px; height: 56px; display: block; padding: 6px 0 18px 0; text-align: center; }
#notice ul li.on a.n-tit{color: #222; border-bottom: 4px solid #002b4e;}
#notice ul li.on .notice-li{display: block;}
.notice-li{display: none; position: absolute; top: 56px; left: 0; width: 100%; padding-top: 17px; border-top: 1px solid #cbcbcb;}
.notice-li dl{display: flex; justify-content: space-between; padding: 12px 0 12px 24px;}
.notice-li dl dt{color: #383838; font-size: 17px; font-weight: 500; position: relative; padding-left: 13px; width: 80%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.notice-li dl dt::before{position: absolute; content: ""; background: #002b4e; width: 5px; height: 5px; border-radius: 50px; left: 0; top: 50%; transform: translateY(-50%);}
.notice-li dl dd{color: #707070; font-size: 16px;}

.more{position: absolute; right: 0; top: -53px; display: block; text-indent: -9999px; background: #002b4e url('../img/main/more.png') no-repeat center; width: 34px; height: 34px; border-radius: 5px;}

/* 바로가기 링크 */
#link{border: 1px solid #e2e2e2; display: flex; flex-wrap: wrap;}
#link li{width: 100%; border-bottom: 1px dashed #cbcbcb; display: flex; align-items: center; justify-content: space-between; padding: 30px;}
#link li:last-child{border-bottom: none;}
#link li > span{font-size: 18px; display: inline-block; font-weight: 600; position: relative; padding-left: 90px;}
#link li > span::before{position: absolute; content: ""; background: url('../img/main/icon.png') no-repeat; width: 60px; height: 60px; left: 10px; top: 50%; transform: translateY(-50%);}
#link li.link02 > span::before{background-position: -60px 0;}
#link li.link03 > span::before{background-position: -120px 0;}
#link li a{background: #eff2f4; color: #002b4e; font-weight: 600; display: block; padding: 10px 18px; border-radius: 50px;}
#link li a span{position: relative; padding-right: 16px;}
#link li a span::after{position: absolute; content: ""; background: url('../img/main/arrow02.png') no-repeat; width: 6px; height: 10px; top: 50%; transform: translateY(-50%); right: 0;}

/* 배너모음 */
#cont4{border-top: 1px solid #eff2f4; padding: 24px 0 22px 0;}
#cont4 .wrap{display: flex; justify-content: space-between; align-items: center; overflow: hidden;}
.banner-tit{width: 22%; display: flex; justify-content: space-between; align-items: center; }
.banner-tit h3{font-size: 23px; font-family: 'SCDream'; font-weight: 500;}
.banner-btn a{display: inline-block; text-indent: -9999px; width: 34px; height: 34px; background: url('../img/main/pop-btn.png') no-repeat; border-radius: 5px;}
.banner-btn a.stop3{background-position: -41px 0;}
.banner-btn a.next3{background-position: -81px 0;}

.banner-slide{width: 77%; padding: 0 20px;}
.banner-slide li{text-align: center;}
.banner-slide li a{font-family: 'Pretendard'; color: #383838; display: inline; font-size: 18px; padding-right: 41px;}
.banner-slide li a span{position: relative; padding-left: 22px;}
.banner-slide li a span::before{position: absolute; content: ""; background: url('../img/main/dot.png') no-repeat; width: 5px; height: 21px; left: -14px; top:0;} 
